:root{
    --white-color : #fff;
    --back-color : #000;
    --text-color : #333;
    --primary-color: #ee4d2d;
    --border-color : #dbdbdb;

    --navbar-height: 34px;
    --header-height : 120px;

}
*{
    box-sizing: inherit;
}
html{
    /* Hack */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* modal */
/* container collll */
.gird__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.66675%;
}
.gird__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;

}


.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation:  fadeIn linear 0.1s;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
    background-color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
    /* z-index: số cao hơn sẽ nổi lên trên; */
    border-radius: 5px;
}
.auth-form{
    width: 500px;
}
.auth_form-container{
    padding: 0 32px;

}
.header-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth_form-heading{
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);

}
.auth_form__sw-btn{
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
.auth_form-input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth_form-input:focus{
    border-color: #888;
}
.auth_form-text{
    margin-top: 18px;
    margin-bottom: 30px;
}
.auth_form_policy_text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth_form_text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth_form-controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
/* btn style */
.btn{
    min-width: 146px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 36px;
    display: inline-flex;
    background-color: none;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
}
.btn--size-s{
    height: 32px;
    font-size: 12px;

}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disabled{
    background-color: #ccc;
    cursor: default;
}
.btn:hover{
    opacity: 0.4;
}
.auth_form-social{
    display: flex;
    margin-top: 10px;
    padding: 12px 36px;
    background-color: #F5f5f5;
    justify-content: space-between;
}
.icon-facebook{
    background-color: #4267b2;
    color: rgb(255, 255, 255);
    min-width: 200px;
    border-radius: 3px;
    text-align: center;
    line-height: 36px ;
}
.icon-google{
    background-color: #ffffff;
    color:  #666;
    min-width: 200px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px ;
    font-size: 1.2rem;
}
.fa-facebook, .fa-google{
    font-size: 2rem;
    padding-top: 2px;
    /* padding-right: 1px; */
}
.header-with-search{
    height: 78px;
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 19%;
}
.header__logo img{
    height: 60px;
    width: 60px;
    
}
.header__search{
    /* flex: 1; */
    height: 40px;
    background-color: var(--white-color);
    border-radius: 4px;
    width: 70%;
    margin-left: 7%;
    display: flex;
    align-items: center;
}
.header__search ::placeholder{
    font-size: 1.4rem;

}
.header__cart{
    height: 150px;
    margin-top: 125px;
    margin-left: 4%;
    /* position: relative; */
}
.header__cart-warp{
    position: relative;
    display: inline-block;
    padding: 0 16px;
}

.cart__list{
    position: absolute;
    display: none;
    top: 34px;
    right: -10px;
    background-color: var(--white-color);
    box-shadow: 0 2px 10px #ccc;
    border-radius: 4px;
    animation: fadeIn ease-in 0.2s;
    /* cursor: default; */
    z-index: 1;
}
.no-cart{
    padding: 24px 0px;
}
.header__cart-warp:hover .cart__list{
    display: block;
    /* cursor: pointer; */
}
.cart__list::after{
    content: "";
    cursor: pointer;
    /* display: none; */
    position: absolute;
    right: 4px;
    top: -32px;
    border-width: 23px 32px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.cart__list img{
    width: 400px;
    height: 150px;
}
.no-cart-msg{
    padding-left: 33%;
    font-size: 1.4rem;
    color: rgb(61, 61, 61);
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
}
.header__search-input{
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 17px;
    border-radius: 4px;
}
.header__search-sec{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    font-size: 1.2rem;
}
.header__search-sec-label{
    font-weight: 500;
    /* font-size: 1rem; */
    color: rgb(110, 110, 110);
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    width: 60px;
    outline: none;
    margin: 3px;
}
.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.3rem;
    color: var(--white-color);
}
.header__search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;
}
.header__option{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;  
    width: 105px;
    box-shadow: 0 0 4px #ccc;
    padding-left: 0;
    transition: fadeIn ease-in 0.3s;
    margin-top: 14px;

}
.header__option-item{
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 0px;
    text-align: center;
    border-radius: 3px;

}
.header__option-item i{
    margin:  0 12px 0 8px;
    font-size: 1.2rem;
    color: var(--primary-color);
}
.header__search-sec:hover .header__option{
    display: block;
}
.header__option::after{
    content: "";
    display: block;
    height: 15px;
    /* background-color: red; */
    top: -15px;
    width: 100%;
    left: 0;
    position: absolute;
}
/* app container */
.container{
    background-color: #f5f5f5;
} 
.app__content {
    padding-top: 36px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    font-size: 1.7rem;
    color :var(--text-color);
    padding: 8px 16px;
    margin-top:0;
    border-bottom: 1px solid rgba(141, 141, 141, 0.2);
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;

}
.category-list{
    padding-left: 0px;
    padding-bottom: 8px;
}
.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 6px 16px;
    display: block;
    transition: right linear 0.2s;
    right: 0;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
    
}
.category-item-active .category-item__link {
    color: var(--primary-color);

}
.category-item-active .category-item__link::before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

/* Home */

.home-filter{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px 22px ;
    border-radius: 2px;

}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    display: block;
    
}
.home-filter__page{
    display: flex;
    align-items: center;
}
.home-filter .btn{
    margin-left: 12px;
    min-width: 90px;
    cursor: pointer;
    
}
/* selection */
.input-sec-input{
    background-color: var(--white-color);
    height: 34px;
    display: flex;
    padding: 0 14px;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    border-radius: 2px;
    margin-left: 12px;
    position: relative;
    z-index: 1;
    
}
.input-sec-input__label{
    font-size: 1.4rem;
}
.sec-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    display: none;
}
.sec-input__list::after{
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 100%;
    left: 0;
    top: -5px;
    height: 10px;

}
.sec-input-link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px ;
}
.sec-input-link:hover{
    color: var(--primary-color);
}
.input-sec-input:hover .sec-input__list{
    display: block;
}

/* pag */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.home-product-pagination{
    margin: 48px 0 32px 0;
}
.paination-item{
    margin: 0 15px;
}
.paination-item--active .pagination__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination__link{
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    font-weight: 400;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}