li{
    list-style-type: none;
}
.header{
    height: 120px;
    background-image: linear-gradient(0 ,#fe6433,#f53e2d);
}
.header__navbar-list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 8px;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-item, 
.header__navbar-item-link{
    font-size: 1.4rem;
    text-decoration: none;
    display: inline-block;
    color: var(--white-color);
    font-weight: 200;
}
.header__navbar-item:hover, 
.header__navbar-item-link:hover{
    color: var(--white-color);
    color: #ccc;
    cursor: pointer;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item--bold{
    font-weight: 400;
}
.header__navbar-item--separete::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color:#FB9086;
    top:50%;
    transform: translateY(-50%);
    right:-9px;
}
.header__navbar-icon{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    margin-left: 8px;
}
/* header qr code  */
.header__qr{
    background-color: var(--white-color);
    width: 170px;
    position: absolute;
    display: none;
    margin-top: 10px;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__app{
    bottom: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
    margin-top: 180px;
    
}
.header__qr-dow{
    width: 45%;
}
.header__navbar-item:hover .header__qr{
    display: block;
}
.header__qr::before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    content: "";
    margin-top: -17px;
}
.header__motify{
    position: absolute;
    border-radius: 4px;
    top: 140%;
    right: 0;
    width: 404px;
    border : 1px solid #d3d3d3;
    background-color: var(--white-color);
    transform-origin: 90% top;
    animation: header__notifyGr ease-in 0.15s;
    will-change: opacity, transform;
    display: none;
    z-index: 4;
}
.header__motify::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}
.header__motify::after{
    content: "";
    width: 90px;
    display: block;
    position: absolute;
    top: -17px;
    right: 0px;
    height: 20px;
}
.header__notify-header{
    background-color: var(--white-color);
    height: 40px;
    user-select: none;
}
.header__notify-header h3{
    color: rgb(133, 133, 133);
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
}
.header__notify_list{
    padding-left: 0;
}
.header__notify_item-viewed{
    background-color:rgba(238, 77, 45,0.08);
}
.header__notify-link{
    display: flex;
    width: 97%;
    margin:  4px 12px;
    text-decoration: none;
}
.header__notify-link:hover{
    background-color: rgb(255, 255, 255);
}
.header__notify-img{
    width: 48px;
}
.header__notify-info{
    flex: 1;
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-weight: 400;
    color: var(--back-color);
    font-size: 13px;
}
.header__notify-des{
    font-size: 11px;
    display: block;
    color: rgb(133, 133, 133);
}
.header__footer{
    text-align: center;
}
.header-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 15px ;
    display: block;
}

@keyframes header__notifyGr{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.header__navbar-item-none:hover .header__motify{
    display: block;
}

/* list hsitory */
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: absolute;
    /* top: 105px;
    left: 0;
    margin-left: 30%;
    width: 940px; */
    width: 40%;
    top: 103px;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgb(90, 88, 88);
    display: none;
    z-index: 2;
}
.header__search-history-heading{
    margin: 8px 12px;
    color: rgb(156, 155, 155);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 12px;
    list-style: none;
    margin-bottom: 0;
}
.header__search-item{
    font-size: 1.4rem;
    line-height: 38px;
    cursor: pointer;
}
.header__search-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-item:hover{
    background-color: #fafafa;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    color: var(--text-color);
    margin-right: 22px;
    font-size: 1.5rem;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 36px;
    border-radius: 5px;
}
.home-filter__page-btn{
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    padding-left: 13px;
    border-radius: 5px 5px;
    font-size: 1.2rem;
}
.btn-btn{
    opacity: 0.5;
}
.home-filter__page-btn:hover{
    background-color: var(--primary-color);
}

/* home - product */
.home-product{
    margin-bottom: 10px;
    text-decoration: none;
}
.home-product-item{
    display: block;
    text-decoration: none;
    transition: transform ease-in 0.2s;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 0.1rem 0.2rem #f0efef;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 0.3rem 0.2rem #fcfafa;
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    /* padding: 0 10px; */
    margin: 10px 10px 6px 10px;
    /* add dau ba cham cuoi dongd starts */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* end dau ba cham cuoi dong */
}
.home-product-item__price{
    display: flex;
    
}
.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;


}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 4px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
    
}
i.action-like-icon-fill{
    display: none;
    color: #f53e2d;
}
.home-product-item__like{
    font-size: 1.4rem;
}
.home-product-item__liked .action-like-icon-fill{
    display: inline-block;
}
.home-product-item__liked .action-like-icon-empty{
    display: none;
}

.home-product-item__rating{
    font-size: 0.8rem;
    color: #ccc;
    margin-left: auto;

}
.star-gold{
    color: gold;
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px;
}
.home-product-item__brand{
    color: #595959;
}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 400;
    padding-right: 4px;
    border-top-right-radius:3px ;
    border-bottom-right-radius:3px ;

}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid #666;
    border-left: 3px solid transparent;
}
.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 4px 0 4px;
    line-height: 1rem;

}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64,0.9);
    text-align: center;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent  rgba(255, 216, 64,0.9) transparent  rgba(255, 216, 64,0.9);
}
.home-product-item__sale-off-percent{
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-top: 4px;
    display: block;
}
.home-product-item__sale-off-label{
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: block;
    color: var(--white-color);
    margin-top: 4px;
    font-weight: 500;
}
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);

}
.footer-list{
    padding-left: 0;
    list-style: none;

}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 2px 0;
    display: flex;
    align-items: center;
    display: block;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer__icon-icon{
    font-size: 1.8rem;
    margin: -1px 8px 0 0;
}
.footer__download{
    display: flex;

}
.footer-qr{
    width: 80px;
    height: 80px;
    border:  1px solid #ccc;
}
.footer-apps{
    flex: 1;
    margin-left: 16px;
}
.footer-download-icon{
    height: 20px;
}
.footer__bottom{
    background-color: rgb(231, 230, 230);
    height: 50px;
    padding: 20px 40%;
    font-size: 1.4rem;
    color: #737373;
}